* {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

.left {
  align-items: center;
  width: 50%;
  margin-top: 48px;
  padding: 100px;
}

.description h1 {
  margin: 24px;
  margin-left: 0;
  font-size: 75px;
}

.description p {
  margin: 24px;
  margin-left: 0;
  width: 75%;
  font-size: 24px;
}


.buttons {
  margin-top: 20px;
}
.buttons,
.button {
  display: flex;
  align-items: center;
}

.button {
  margin-right: 10px;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 4px;
}
.main-btn {
  background-color: #4384d1;
  color: white;
}
.alt-btn {
  color: #4384d1;
  border: 1px solid #4384d1;
}
.button img {
  width: 20px;
  margin-left: 15px;
}

button :hover {
  cursor: pointer;
  background-color: lightblue;
}

.right {
  width: 50%;
}

.right img {
  width: 400px;
  height: 700x;
  position: absolute;
  right: 300px;
  top: 100px;
}
